

body {
    font-family: "Arial", "Meiryo", sans-serif
}


/* title の「M」をスカイブルーに、「P」をピンクに 
HTML内で設定*/
h1{
font-family: "Josefin Sans";
text-align: center;
font-size: 40;
letter-spacing: 1.2em;
border-bottom: solid 3px rgb(115, 115, 114);
text-shadow:1px 1px 2px gray ;

}





/* 「名前」「血液型」「好きな食べ物」の見出しにはピンク */

.ppp{
color: rgb(255, 192, 203);
text-align: center;}


/* 「生年月日」「趣味」「プログラミングを始めた理由」の見出しにはスカイブルー */
.bbb{
color: skyblue;
text-align: center;}

p{text-align: center;}


#basic p {
    font-weight: bold;
}

